body {
    font-family: Arial, sans-serif;
    background-color: black;
}

.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    flex: auto;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    color: aliceblue;
}

.task-list {
    list-style-type: none;
    padding: 0;
}

.task-list li {
    margin-bottom: 10px;
    color: azure;
}

.task-list li input[type="checkbox"] {
    margin-right: 10px;
}

#task-input {
    width: 100%;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 15px;
    border-radius: 5px;
}

#task-input:hover {
    background-color: rgb(225, 219, 209);
}

#add-task-btn {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#add-task-btn:hover {
    background-color: rgb(6, 132, 14);
}